#overview-table td, th {
   text-align: center;   
}

colgroup col.column-visitors {
  background-color: #d9edf754;
}
colgroup col.column-pageviews {
  background-color: #d9edf754;
}
colgroup col.column-income {
  background-color: #d9edf754;
}

.pointer {
	cursor: pointer;
}

.danger {
	border-color:rgb(217, 83, 79);
}

.earnings {
	font-size:24px;
}


h1, h2, h3, h4 {
	font-weight:200;
}

.page-heading {
	margin-top: 1rem;
}

.carousel-indicators .active{
    background-color: #f00;
}

.bg-top {
	background-color: #015f91;
}

.btn-minus {
	color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
    border-color: #6c757d;
}

.btn-plus {
	color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
    border-color: #6c757d;
}

.btn-plus:hover , .btn-minus:hover {
	color: #fff;
    background-color: #6c757d;
}

